
.blog-container {
  margin: 0 auto;
  width: 90vw;
  padding: 20px;
}

.blog-list {
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.blog-item {
  width: 400px;
  margin-bottom: 40px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 8px;
}

.blog-item img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
  height: 250px;
}

.blog-item-content {
  padding: 20px;
}

.blog-item h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.blog-item p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.blog-item a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
align-self: center;}

.blog-item a:hover {
  background-color: #0056b3;
}
